{% extends "base/base.html" %}
{% block content %}
  <a href="{% url 'create_collection' %}" class = "medicinepickup">Nieuwe afhaalactie aanmaken</a>
  <h2>Alle afhaalacties</h2>
  <table>
    <tr>
      <th>Medicijn</th>
      <th>Gebruiker</th>
      <th>Datum</th>
      <th>Opgehaald</th>
      <th>Goedgekeurd</th>
      <th>Acties</th>
    </tr>
    {% for c in collections %}
    <tr>
      <td>
        <a href="{% url 'medicine_detail' c.medicine.pk %}" class = "medicinepickup">
            {{ c.medicine.name }}
        </a>
      </td>
      <td>
        <a href="{% url 'user_profile_admin' c.user.id %}" class = "medicinepickup">
            {{ c.user.username }}
        </a>
      </td>
      <td>{{ c.date }}</td>
      <td>{{ c.collected|yesno:"Ja,Nee" }}</td>
      <td>{{ c.collected_approved|yesno:"Ja,Nee" }}</td>
      <td>
        {% if c.collected and not c.collected_approved %}
          <a href="{% url 'approve_collection' c.pk %}" class = "medicinepickup">Goedkeuren</a>
        {% endif %}
        <a href="{% url 'delete_collection' c.pk %}" class = "medicinepickup">Verwijderen</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  
{% endblock content %}