{% extends "base/base.html" %}
{% load  static %}

{% block content %}

    <h1> DjangoBlue </h1>

    <h3>Welkom bij DjangoBlueee — jouw vertrouwde online apotheek</h3>
    
    Bij DjangoBlueee geloven we in zorg die verder gaat dan pillen en recepten.
    Wij combineren medische expertise met digitale innovatie, zodat je altijd toegang hebt tot betrouwbare medicatie, advies en ondersteuning — veilig, snel en persoonlijk.
    Of je nu je herhaalrecept wilt bestellen, jouw afhaalmoment wilt plannen of gewoon even wilt checken wat er in je medicijnkastje ontbreekt — wij staan klaar. 
    Met een warm hart, heldere service en een vleugje blauw.

     <div class="fotoblok">
        <img src="{% static 'base/img/foto1.png' %}" alt="Photo1">
        <img src="{% static 'base/img/foto2.png' %}" alt="Photo2">
        <img src="{% static 'base/img/foto3.png' %}" alt="Photo3">
    </div>
    
    
    

    {% endblock content %}


