{% load static %}
<div class="nav-container">
    <img src="{% static "base/img/logo.png" %}" alt="Logo">
    <div class="title">
        <h1>Langlaufvereniging</h1>

        <h1>De Lange Lat</h1>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'index'%}" class = "nav-item">Home</a>
        <a href="{% url 'hello'%}" class = "nav-item">Hello!</a>
        <a href="{% url 'logout_user'%}"> Logout</a>

        {% comment %} {% if user.is_staff%}
           <a href="{% url 'unapproved_times'%}" class = "nav-item">Approve times</a>
           {% endif%}
           <a href="{% url 'logout'%}" class = "nav-item">Logout</a> {% endcomment %}


    {% else%}
        <a href="{% url 'login'%}" class = "nav-item">Login</a>
        <a href="{% url 'register'%}" class = "nav-item">Sign up</a>
    {% endif %}
</div>
