{% extends "base/base.html" %}
{% block content %}
  <h2>Mijn openstaande afhaalacties</h2>
  <ul>
    {% for c in openstaande %}
      <li>
        <a href="{% url 'medicine_detail' c.medicine.pk %}" class = "medicinepickup">{{ c.medicine.name }}</a> op {{ c.date }}
        <form method="POST" action="{% url 'mark_collected' c.pk %}" style="display:inline;">
          {% csrf_token %}
          <input type="submit" value="Markeer als opgehaald">
        </form>
      </li>
    {% empty %}
      <li>Geen openstaande afhaalacties.</li>
    {% endfor %}
  </ul>

  <h2>Opgehaald</h2>
  <ul>
    {% for c in not_yet_collected %}
      <li>
        <a href="{% url 'medicine_detail' c.medicine.pk %}" class = "medicinepickup">{{ c.medicine.name }}</a> op {{ c.date }}

      </li>
    {% empty %}
      <li>Geen opgehaalde afhaalacties.</li>
    {% endfor %}
  </ul>
{% endblock content %}