{% extends "base/base.html" %}
{% block content %}
  {% if success %}
    <h2>Wachtwoord gewijzigd</h2>
    <p>Je wachtwoord is succesvol gewijzigd!</p>
    <a href="{% url 'index' %}">Terug naar home</a>
  {% else %}
    <h2>Wachtwoord wijzigen</h2>
    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label>Oud wachtwoord:</label>
      <input type="password" name="old_password" required><br>
      <label>Nieuw wachtwoord:</label>
      <input type="password" name="new_password1" required><br>
      <label>Herhaal nieuw wachtwoord:</label>
      <input type="password" name="new_password2" required><br>
      <input type="submit" value="Wijzig wachtwoord">
    </form>
  {% endif %}
{% endblock content %}